@using ChatDrugiPut.Shared
@using Microsoft.AspNetCore.SignalR.Client

<h3>ChatProzor</h3>
<p>Ulogovan korisnik: @UlogovanKorisnik.Username</p>

<p><input @bind-value="Tekst" /> <button @onclick="Posalji">Posalji</button></p>


@foreach (Poruka poruka in Istorija)
{
	<p>Ovde su kao poruke</p>
	@if (poruka.Posiljaoc.Equals(UlogovanKorisnik))
	{
		<p>Ja: @poruka.Sadrzaj</p>
	} else
	{
		<p>@poruka.Posiljaoc.Username: @poruka.Sadrzaj</p>
	}
}

@code 
{
	[Parameter]
	public User UlogovanKorisnik { get; set; }

	[Parameter]
	public HubConnection cHub { get; set; }

	public string Tekst { get; set; }

	List<Poruka> Istorija = new List<Poruka>();

	protected override async Task OnInitializedAsync()
	{
		cHub.On<Poruka>("PorukaKaKlijentu", p =>
		{
			Istorija.Add(p);
			StateHasChanged();
		});

	}

	public async Task Posalji()
	{
		Poruka p = new Poruka(Tekst, UlogovanKorisnik);
		await cHub.SendAsync("PrimiPoruku", p);
		Tekst = "";
	}

}
